@model EditCategoryDTO
@{
    int i = 0;
}
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (ViewData["Error"] != null)
    {
        <span class="text-danger">@ViewData["Error"]</span>
    }
    <input type="hidden" asp-for="Id" />
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        @foreach (var item in LanguageCodes.Codes.Keys)
        {
            <li class="nav-item" role="presentation">
                <button class="nav-link @(i == 0? "active":"")" id="@item-tab" data-bs-toggle="tab" data-bs-target="#@item" type="button" role="tab" aria-controls="@item" aria-selected="true">@item</button>
            </li>
            i++;
        }
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        @for (int j = 0;j<LanguageCodes.Codes.Count;j++)
        {
            var key = LanguageCodes.Codes.ElementAt(j).Key;
            var name = Model.CategoryNames.ElementAtOrDefault(j);
            <div class="tab-pane @(j == 0? "active":"")" id="@key" role="tabpanel" aria-labelledby="@key-tab" tabindex="0">
                <div class="form-group">
                    <label asp-for="CategoryNames">Category Name (@key)</label>
                    <input type="text" asp-for="CategoryNames" value="@(name ?? Model.CategoryNames.First())" class="form-control" />
                </div>
            </div>
        }
    </div>
    @if (ViewData["SubCategories"] != null)
    {
        <div class="form-group">
            <label>Add SubCategories</label>
            <select multiple class="form-select bg-dark text-white" asp-for="SubCategoryIds">
                @foreach (var cat in ViewData["SubCategories"] as List<AdminSubCategoriesDTO>)
                {
                    <option value="@cat.Id" selected=@Model.SubCategoryIds.Contains(cat.Id) >@cat.Name</option>
                }
            </select>
        </div>
    }
    <button type="submit" class="btn btn-warning">Edit</button>
</form>